<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<div layout:fragment="mainContent">
	<div class="row my-2">
		<div class="col-12">
		<div class="container" >
			<div class="row">
				<div class="col-3">
						<select id="companiesList" class="form-select" onchange="loadQuestionnairesByCompany()"></select>
				</div>
				<div class="col-3">
					<select id="specialtiesList" class="form-select" onchange="loadQuestionnairesBySpecialty()"></select>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>CANDIDATE</th>
								<th>DATE OF BORN</th>
								<th>SKILLS</th>
								<th>COMPANY</th>
								<th>SPECIALTY</th>
							</tr>
						</thead>
						<tbody id = "questionnaireList"></tbody>
					</table>
				</div>
			</div>
		</div>
		</div>

	</div>
	</div>
</html>








